In [23]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from datetime import datetime as dt
import time
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score

In [3]:
message_data = pd.read_csv('/Users/tanvipotdar/Projects/LOBster/data_tqap/INTC_2015-01-01_2015-01-31_10/INTC_2015-01-02_34200000_57600000_message_10.csv', names=['time', 'event_type', 'order_id','size', 'price', 'direction'])
orderbook = pd.read_csv('/Users/tanvipotdar/Projects/LOBster/data_tqap/INTC_2015-01-01_2015-01-31_10/INTC_2015-01-02_34200000_57600000_orderbook_10.csv')
message_data.time = message_data.time.apply(lambda x: time.strftime('%H:%M:%S', time.gmtime(x)))

In [4]:
orderbook['midprice'] = (orderbook.ask_price_1+orderbook.bid_price_1)/2
orderbook['time'] = message_data.time

In [8]:
raw_data = orderbook[['time', 'midprice']].drop_duplicates().set_index('time')
raw_data.head()

          midprice
time
09:30:00  366250.0
09:30:00  367000.0
09:30:00  367050.0
09:30:00  366900.0
09:30:00  366850.0

In [12]:
train = raw_data[:20000]
test = raw_data[20001:]
train.tail()

          midprice
time
14:15:25  363450.0
14:15:26  363450.0
14:15:27  363450.0
14:15:28  363450.0
14:15:29  363450.0

In [15]:
scaler = MinMaxScaler()
scaled_train = scaler.fit_transform(train)
scaled_test = scaler.fit_transform(test)

In [19]:
nn = keras.Sequential()
nn.add(keras.layers.Dense(12, input_dim=1, activation='relu'))
nn.add(keras.layers.Dense(1))
nn.compile(loss='mean_squared_error', optimizer='adam')
early_stop = keras.callbacks.EarlyStopping(monitor='loss', patience=2, verbose=1)
history = nn.fit(scaled_train[:-1], scaled_train[1:], epochs=100, batch_size=1, 
                 verbose=1, callbacks=[early_stop], shuffle=False)

WARNING:tensorflow:From /Users/tanvipotdar/pyenvs/lob/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /Users/tanvipotdar/pyenvs/lob/lib/python3.7/site-packages/tensorflow/python/keras/utils/losses_utils.py:170: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
WARNING:tensorflow:From /Users/tanvipotdar/pyenvs/lob/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
19999/19999 [==============================] - 15s 761us/sample - loss: 1.2951e-04
Epoch 2/100
19999/19999 [==============================] - 15s 749us/sample - loss: 4.5669e-05
Epoch 3/100
19999/19999 [==============================] - 15s 739us/sample - loss: 6.0462e-05
Epoch 4/100
19999/19999 [==============================] - 14s 698us/sample - loss: 5.6644e-05
Epoch 00004: early stopping

In [22]:
test_pred = nn.predict(scaled_test[:-1])
train_pred = nn.predict(scaled_train[:-1])
print("The R2 score on the Train set is:\t{:0.3f}".format(r2_score(scaled_train[1:], train_pred)))
print("The R2 score on the Train set is:\t{:0.3f}".format(r2_score(scaled_test[1:], test_pred)))

The R2 score on the Train set is:	0.197
The R2 score on the Train set is:	-1.324

In [31]:
scaler.inverse_transform(test_pred)

array([[363451.44],
       [363451.44],
       [363451.44],
       ...,
       [363466.88],
       [363451.44],
       [363451.44]], dtype=float32)

In [34]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test_pred, scaled_test[1:])

0.26217981537539514